/* a标签默认颜色 */
#article-container a {
    color: #00c4b6;
    text-decoration: none;
}

/* 鼠标悬停时的颜色 */

#article-container a:hover {
    color: #e58a8a;
    text-decoration: none;
}
/*a标签颜色*/
a {
    color: #00c4b6;
}

/*页脚a标签字体颜色*/
#footer-wrap a {
    color: #00c4b6;
}